@model CoroPolifonicoMaterMisericordieEditInputModel
<section class="coroPolifonicoMaterMisericordie-info">
    <form method="post" asp-controller="CoroPolifonicoMaterMisericordie" asp-action="EditEventoCoroPolifonicoMaterMisericordie">
        <div class="row p-2">
            <div class="col-md-10">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-md-1 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa-regular fa-floppy-disk"></i> Salva</button>
            </div>
            <div class="col-md-1 d-flex justify-content-center">
                <button type="button" class="btn btn-warning btn-lg"><a style="text-decoration: none;" asp-route-chiamante="CoroPolifonicoMaterMisericordie" asp-area="" asp-controller="CoroPolifonicoMaterMisericordie" asp-action="Index"><i class="fas far fa-rotate-left"></i> Annulla</a></button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" asp-validation-summary="All"></div>
        </div>
        <input type="hidden" asp-for="CoroPolifonicoMaterMisericordieId">
        <input type="hidden" asp-for="CoroPolifonicoMaterMisericordieCreatoreEvento" value="me medesimo modifica">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="CoroPolifonicoMaterMisericordieTitolo"></label>
                    <input type="text" class="form-control form-control-lg" asp-for="CoroPolifonicoMaterMisericordieTitolo">
                    <span asp-validation-for="CoroPolifonicoMaterMisericordieTitolo"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoroPolifonicoMaterMisericordieDescrizione"></label>
                    <textarea data-summernote rows="10" class="form-control" asp-for="CoroPolifonicoMaterMisericordieDescrizione"></textarea>
                    <span asp-validation-for="CoroPolifonicoMaterMisericordieDescrizione"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CoroPolifonicoMaterMisericordieDataEvento"></label>
                    <input class="form-control" asp-for="CoroPolifonicoMaterMisericordieDataEvento">
                    <span asp-validation-for="CoroPolifonicoMaterMisericordieDataEvento"></span>
                </div>
            </div>
        </div>
    </form>
</section>
@section Scripts{
    <partial name="_Validation"></partial>
    <partial name="_Summernote"></partial>
}